In [ ]:
  ! pip install translators

In [ ]:
import requests
from bs4 import BeautifulSoup
import json, csv, os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from collections import defaultdict

In [ ]:
import translators as ts

Using United States server backend.

In [ ]:
all_url = []

In [ ]:
url_hp = 'https://vedabase.io'

In [ ]:

list_slokas_chap1 = [str(x) for x in range(1, 16)]
list_slokas_chap1.extend(['16-18'])
list_slokas_chap1.extend([str(x) for x in range(19, 21)])
list_slokas_chap1.extend(['21-22'])
list_slokas_chap1.extend([str(x) for x in range(23, 32)])
list_slokas_chap1.extend(['32-35', '36', '37-38'])
list_slokas_chap1.extend([str(x) for x in range(39, 47)])
list_slokas_chap1

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16-18',
 '19',
 '20',
 '21-22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32-35',
 '36',
 '37-38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46']

In [ ]:
def get_chapter_slokas(chapter, list_slokas):
  url_chap1  = [f'https://vedabase.io/en/library/bg/{chapter}/{x}' for x in list_slokas]
  dict_slokas = defaultdict()
  for slokas, url_slokas in zip(list_slokas, url_chap1):
    page_request = requests.get(url_slokas)
    data = page_request.content
    soup = BeautifulSoup(data,"html.parser")
    slokas_text = soup.find_all('div', class_ = 'r r-devanagari')[0].text
    dict_slokas[slokas] = slokas_text
    # print(slokas_text)
  return dict_slokas
sloaks_chap1 = get_chapter_slokas(1, list_slokas_chap1)

In [ ]:
slokas_df = pd.DataFrame({'slokas_no' : list(sloaks_chap1.keys()), 'slokas' :list(sloaks_chap1.values())})
slokas_df.head()

In [ ]:
slokas_df.to_csv("chapter_1.csv", index=False)

In [ ]:
def get_slokas_trans(slokas_df):
  slokas_trans = []
  for x in range(slokas_df.shape[0]):
    slokas = slokas_df.iloc[x, 1]
    slokas_trans.append(ts.google(query_text=slokas,to_language='en'))
  slokas_df['slokas_english'] = slokas_trans
  return slokas_df
slokas_df_with_en = get_slokas_trans(slokas_df)
slokas_df_with_en.head()

,slokas_no,slokas,slokas_english
0,1,धृतराष्ट्र उवाचधर्मक्षेत्रे कुरुक्षेत्रे समवेत...,"Dhṛtarāṣṭra said: O Sanjaya, what did the Pāṇḍ..."
1,2,सञ्जय उवाचदृष्ट्वा तु पाण्डवानीकं व्यूढं दुर्य...,Sanjaya saw the army of the Pāṇḍavas arranged ...
2,3,पश्यैतां पाण्डुपुत्राणामाचार्य महतीं चमूम् ।व्...,O teacher look at this great army of the sons ...
3,4,अत्र श‍ूरा महेष्वासा भीमार्जुनसमा युधि ।युयुधा...,Here the great archer Bhīma and Arjuna are equ...
4,5,धृष्टकेतुश्चेकितानः काशिराजश्च वीर्यवान् ।पुरु...,Dhrishtaketu and Chekitana were the mighty kin...

In [ ]:
slokas_df_with_en.to_csv("chapter_1_translated.csv", index=False)